#page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 150px);
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
}

#messages {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 20px;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.message_user {
  display: block;
  font-size: 0.85em;
  background-color: #005cbf;
  color: white;
  padding: 3px 7px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-right: 5px;
}

.message_text {
  display: block;
}

#message_input {
  position: fixed;
  bottom: 0;
  width: 770px;
  display: flex;
  background-color: #f8f8f8;
  border-radius: 10px 10px 0 0;
  padding: 15px;
}

#user_input {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

#send_message {
  background-color: #005cbf;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

#send_message:hover {
  background-color: #003f87;
}

.user_action {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.user_action .joined {
  background-color: #4caf50;
  color: white;
  font-size: 0.75em;
  padding: 5px 10px;
  border-radius: 5px;
}

.user_action .exited {
  background-color: #ff5733;
  color: white;
  font-size: 0.75em;
  padding: 5px 10px;
  border-radius: 5px;
}

@media (max-width: 600px) {
  #page-container {
    max-width: 90%;
  }
}
