#page_container {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #005cbf;
}

#page_title {
  margin: 0;
  color: #005cbf;
}


#discount-banner-container {
  text-align: center;
  padding: 20px 0;
}

#discount-banner {
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
  background-color: #cce6ff;
  border: 1px solid #005cbf;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#discount-product-information {
  text-align: center;
}

#discount-product-information span {
  display: block;
}

#discount-banner-container button {
  background-color: #005cbf;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#discount-banner-container button:hover {
  background-color: #0077cc;
}


#products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
}

#products > div {
  width: 300px;
  margin: 20px;
  padding: 10px;
  border: 1px solid #005cbf;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#products img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

#products h3 {
  margin: 0;
  color: #005cbf;
}

#products h5 {
  margin-top: 5px;
  margin-bottom: 10px;
  color: #0077cc;
}

#products span {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: #e6f3ff;
  color: #005cbf;
}

#products p {
  margin: 10px 0;
}

#products button {
  background-color: #005cbf;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

#products button:hover {
  background-color: #0077cc;
}
