#login_section,
#signup_section {
	background-color: #ffffff;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
	margin: 20px;
}

.title {
	font-size: 24px;
	margin-bottom: 15px;
}

.form {
	margin-top: 15px;
}

.data_input {
	margin-bottom: 15px;
}

.data_input input,
.data_input select {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.button {
	background-color: #0077cc;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.button:hover {
	background-color: #005cbf;
}

.error {
	color: red;
	margin-top: 10px;
}

.redirect_section {
	margin-top: 15px;
}

#login_section {
	width: 300px;
	margin: 50px auto;
}

#signup_section {
	width: 400px;
	margin: 50px auto;
}
