#logout {
	background-color: #ffffff;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
	margin: 20px;
	text-align: center;
}

#logout h3 {
	font-size: 24px;
	margin-bottom: 15px;
}

#logout a {
	display: inline-block;
	margin-top: 10px;
	color: #0077cc;
	text-decoration: none;
	transition: color 0.3s ease;
}

#logout a:hover {
	color: #005cbf;
}
