#discount-banner {
  min-height: 35px;
  background-color: #fedc60;
  visibility: hidden;
  display: none;
  border-radius: 4px;
}

#discount-banner .uk-card-body {
  align-items: baseline;
  justify-content: space-between;
}
