<div id="page-container">
  <div id="messages">
    {{#each messages}}
      <div class="message">
        <span class="message_user">{{this.user}}</span>
        <span class="message_text">{{this.message}}</span>
      </div>
    {{/each}}
  </div>
  <div id="message_input">
    <input
      id="user_input"
      type="text"
      placeholder="Type your message here"
      aria-label="Type your message here"
    />
    <button id="send_message">Send</button>
  </div>
</div>