<div id="login_section">
  <h3 class="title">Login</h3>
  <form action="" method="post">
    <div class="data_input">
      <input name="username" type="text" aria-label="Username input" />
    </div>
    <div class="data_input">
      <input name="password" type="password" aria-label="Password input" />
    </div>
    <button class="">Login</button>
    {{#if error}}
      <div class="error">
        <span>{{error}}</span>
      </div>
    {{/if}}
  </form>

  <div class="redirect_section">
    <span>New customer? <a href="/signup">Start here!</a></span>
  </div>
</div>